In [1]:
import pandas as pd

There are two core objects in pandas: the DataFrame and the Series. 
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.
The syntax for declaring a new one is a dictionary whose keys are the column names (Bob and Sue in this example), and whose values are a list of entries.

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [23]:
fruits = pd.DataFrame([[30, 21],[23,34],[12,23]], columns=['Apples', 'Bananas'])
fruits

   Apples  Bananas
0      30       21
1      23       34
2      12       23

In [11]:
pd.DataFrame({
    'Name': ['Arunima', 'Animan'], 
    'Marks': ['50', '49'], 
    'Class': ['Btech', 'PhD'], 
    'Roll no': ['abcd', 'efgh']},
            index = ['student1', 'student2'])

             Name Marks  Class Roll no
student1  Arunima    50  Btech    abcd
student2   Animan    49    PhD    efgh

The list of row labels used in a DataFrame is known as an Index. We can assign values to it by using an index parameter in our constructor:

In [9]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:
A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name:
The Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together".

In [15]:
pd.Series([1, 2, 3, 4, 5],  index=['2015 Sales', '2016 Sales', '2017 Sales', 'shvbs', 'jhsdvs'], name='Product A')

2015 Sales    1
2016 Sales    2
2017 Sales    3
shvbs         4
jhsdvs        5
Name: Product A, dtype: int64

when we are importing datasets, sometimes when index col is specified as the first column, pandas does not take it up. so to do that, we can do 
reviews = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", index_col = 0)

to save this DataFrame (animals) to disk as a csv file with the name cows_and_goats.csv, 
animals.to_csv('cows_and_goats.csv')

### Indexing, Selecting and Assigning 

In Python, we can access the __property__ of an object by accessing it as an attribute. A book object, for example, might have a title property, which we can access by calling book.title. Columns in a pandas DataFrame work in much the same way.
Hence to access the country property of reviews we can use : reviews.country
If we have a Python dictionary, we can access its values using the indexing ([]) operator. We can do the same with columns in a DataFrame like : reviews['country'] (here the country is the key and all the values in that column are values. So, this gives us the values in the column Country or the values of a specified key) 

to drill down to a single specific value, we need only use the indexing operator [] once more: reviews['country'][0]

## Indexing in Pandas

### Loc and iLoc 
Both loc and iloc are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.
This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns. 

#### Loc 
label-based selection. In this paradigm, it's the data index value, not its position, which matters.

#### iLoc 
index-based selection: selecting data based on its numerical position in the data. iloc follows this paradigm.

iloc is conceptually simpler than loc because it ignores the dataset's indices. When we use iloc we treat the dataset like a big matrix (a list of lists), one that we have to index into by position. loc, by contrast, uses the information in the indices to do its work. Since your dataset usually has meaningful indices, it's usually easier to do things using loc instead

the two methods use slightly different indexing schemes.
iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10
This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for df.loc[0:999]

In [ ]:
reviews.iloc[0] #gives the first row with all the columns
reviews.iloc[:, 0] #gives all the rows but only their first column [row, column]
reviews.iloc[:3, 0] #gives the 1st, 2nd and 3rd row (row with index - 0,1 and 2) 1st column (column index 0) (:3 selects all indexes upto 3)
reviews.iloc[1:3, 0] #gives the rows with index 1 and 2 and their 1st column (1:3 selects all indexes from 1 upto 3(including 1 and excluding 3))
reviews.iloc[[0, 1, 2], 0] #passing a list of row indexes that we want
reviews.iloc[-5:] # This will start counting forwards from the end of the values. gives last 5 rows and all of their columns

In [ ]:
reviews.loc[0, 'country'] #gives the 1st row (0 index) and the column named 'Country'
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']] #gives all the rows and just the 3 columns specified

### manipulating Index

Label-based selection derives its power from the labels in the index. Critically, the index we use is not immutable. We can manipulate the index in any way we see fit

In [ ]:
reviews.set_index("title") #sets the values in the column 'title' as index rather than numbers (numbers starting from 0 are default)

### Conditional Selection 

Pandas comes with a few built-in conditional selectors, 

The first is isin. isin is lets you select data whose value "is in" a list of value
The second is isnull (and its companion notnull). These methods let you highlight values which are (or are not) empty (NaN). 
s

In [ ]:
reviews.country == 'Italy' #returns true or false after checking if each of the country is equal to Italy
reviews.loc[reviews.country == 'Italy'] #gives all the rows where the country name is Italy i.e. the condition in [] is true
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)] #& - and, | - or. for putting 2 conditions 

reviews.loc[reviews.country.isin(['Italy', 'France'])] #italy and france are in a list. we can add any number of countries to this list. gives those rows where the country is france or italy
reviews.loc[reviews.price.notnull()] #gives those rows where the price is not 0

### Assigning data

You can assign either a constant value:
reviews['critic'] = 'everyone' #assigns 'everyone' to the column 'critic'

Or with an iterable of values:
reviews['index_backwards'] = range(len(reviews), 0, -1) #range(starting index value, starting index, increment/decrement value)

### 
Summary Functions and Map

#### Summary functions 
restructure the data in some useful way.
It is type-aware, meaning that its output changes based on the data type of the input.


s

In [ ]:
reviews.points.describe() #gives mean, median, mode etc for the values in the column 'points'
reviews.taster_name.describe() #gives count, unique, top, frequency 
reviews.points.mean()
reviews.taster_name.unique() #returns the unique values of the column taster_name
reviews.taster_name.value_counts() #retuens the count of each unique value in taster_name

#### Map function 

 a function that takes one set of values and "maps" them to another set of values.
There are two mapping methods that you will use often.

map() is the first, and slightly simpler one.
apply() is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.If we had called reviews.apply() with axis='index', then instead of passing a function to transform each row, we would need to give a function to transform each column.

Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of reviews, we can see that it still has its original points value.

In [ ]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean) # assumes p to be an individual value of the column 'points'. maps (point - mean) value to that point value. -ve value shows that its points are lesser than the avg points and +ve value shows that point is higher than avg

In [ ]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns') #with .apply() we usually always use self defined functions

In [ ]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean 
#In this code we are performing an operation between a lot of values on the left-hand side (everything in the Series) and a single value on the right-hand side (the mean value). Pandas looks at this expression and figures out that we must mean to subtract that mean value from every value in the dataset.

In [ ]:
centered_price = reviews.price - reviews.price.mean() #creates a variable centered_price which has price - mean_price of each row

In [ ]:
reviews.country + " - " + reviews.region_1 #used for concatenation

In [ ]:
bargain_idx = (reviews.points/reviews.price).idxmax() #eturns the index of the maximum value in a pandas Series or DataFrame.
bargain_wine = reviews.loc[bargain_idx, 'title']

In [ ]:
n_trop = reviews.description.map(lambda desc: "tropical" in desc).sum() #desc refers to an individual value in the column 'description'
n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])

In [ ]:
def stars(row):
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1

star_ratings = reviews.apply(stars, axis='columns')

### Grouping and sorting 

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. This DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit

Another groupby() method worth mentioning is agg(), which lets you run a bunch of different functions on your DataFrame simultaneously.

### Multi indexing 

A multi-index differs from a regular index in that it has multiple levels

### sorting 

sort_values() defaults to an ascending sort, where the lowest values go first. However, most of the time we want a descending sort, where the higher numbers go first

In [ ]:
reviews.groupby('points').points.count()

explaination - 
groupby() created a group of reviews which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the points() column and counted how many times it appeared


value_counts() is just a shortcut to this groupby() operation.


count() - counts only non null values and does not count NaN nor null values. therefore to count NaN values, we have to use sum()

In [ ]:
reviews.groupby('points').price.min() #to get the cheapest wine in each point value category

In [ ]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0]) #selecting the name of the first wine reviewed from each winery in the dataset

In [ ]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

In [ ]:
reviews.groupby(['country']).price.agg([len, min, max])

In [ ]:
countries_reviewed.sort_values(by='len')

In [ ]:
countries_reviewed.sort_values(by='len', ascending=False)

In [ ]:
countries_reviewed.sort_index()

In [ ]:
countries_reviewed.sort_values(by=['country', 'len'])

In [ ]:
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
#a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).



### Data types and missing values

The data type for a column in a DataFrame or a Series is known as the dtype

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the astype() function

To select NaN entries you can use pd.isnull() (or its companion pd.notnull())

Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna(). fillna() provides a few different strategies for mitigating such data.

In [ ]:
reviews.price.dtype #get the dtype of the price column in the reviews DataFrame:
reviews.dtypes # returns the dtype of every column in the DataFrame

In [ ]:
reviews.points.astype('float64')

In [ ]:
reviews[pd.isnull(reviews.country)] #returns rows where the country column is null

In [ ]:
reviews.region_2.fillna("Unknown") #replace each NaN with an "Unknown"

In [ ]:
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino") #used to replace the 1st term (@kerinokeefe) by the 2nd term (@kerino)

In [ ]:
missing_price_reviews = reviews[reviews.price.isnull()]
n_missing_prices = len(missing_price_reviews)
# Cute alternative solution: if we sum a boolean series, True is treated as 1 and False as 0
n_missing_prices = reviews.price.isnull().sum()
# or equivalently:
n_missing_prices = pd.isnull(reviews.price).sum()



### renaming and combining 

#### renaming 
rename(), which lets you change index names and/or column names
rename() lets you rename index or column values by specifying a index or column keyword parameter, respectively. It supports a variety of input formats, but usually a Python dictionary is the most convenient

to rename index we also have set_index

Both the row index and the column index can have their own name attribute. The complimentary rename_axis() method may be used to change these names.

In [ ]:
reviews.rename(columns={'points': 'score'}) #renames the points column to score
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'}) #renames the 0th index to firstEntry and the 1st index to secondEntry

In [ ]:
reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns') #renames the row axis to wines and the column axis to fields

#### Combining 

concat(). Given a list of elements, this function will smush those elements together along an axis

join() lets you combine different DataFrame objects which have an index in common
The lsuffix and rsuffix parameters are necessary here because the data has the same column names in both British and Canadian datasets. If this wasn't true (because, say, we'd renamed them beforehand) we wouldn't need them.

In [ ]:
pd.concat([canadian_youtube, british_youtube])

In [ ]:
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

In [ ]:
powerlifting_combined = powerlifting_meets.set_index("MeetID").join(powerlifting_competitors.set_index("MeetID"))